{% extends "base.html" %}

{% block content %}


<h1>Wastes Lists</h2>

<ul class="list-group">
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>
<li class="list-group-item"> Chemicals/materials available </li>

</ul>

{% endblock content %}
